.LoadingScreen {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--main-font);
    color: var(--font-color);
    font-size: var(--fs-xxxl);
}

.flower {
    animation: flowerAnimation 10s infinite ease-in-out;
    fill: var(--font-color);
    margin-left: 5px;
}