/* .projectsPageContainer {
    height: 100vh;
} */

.sideBarProjects {
    width: 25%;
    position: relative;
}

.MainProjectsContent {
    padding: 5em 5em 5em 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.MainProjectsContent > section {
    padding: 0;
    scroll-snap-align: start;
    height: 90vh;
}

.projectDomain {
    margin-bottom: 2em;
}

.sectionContent {
    display: flex;
    justify-content: space-around;
}

.sectionContent .scrollableContent section {
    /* height: 100%; */
    padding: 0;
    scroll-snap-align: start;
}

.projectTitle {
    display: flex;
    align-items: center;
    gap: .5em;
}

#Tools {
    margin: 3% 0;
}

.linkIcon {
    stroke: var(--font-color);
    fill: none;
}

.projectTitle:hover {
    stroke-width: 1rem;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.ToolsIcon {
    fill: var(--font-color);
    border: dashed 2px var(--font-color);
    border-radius: 50%;
    padding: 0.5em;
    box-sizing: content-box;
}

#Tools {
    display: flex;
    align-items: center;
    gap: 1em;
}

.projectIcon {
    width: 25px;
    height: auto;
}

.images {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1em;
}

.scrollableContent img {
    border: solid 2px var(--grey-color);
    border-radius: var(--base-space);
    width: 30%;
}

.MainProjectsContent h1 {
    padding: var(--base-space);
    margin: 0;
    text-align: center;
}